<div class="leads-container">

  <div class="header">
    <h2>Certificate Signatures</h2>

    <button class="add-btn" (click)="openModal()">
      <i class="fa-solid fa-plus"></i> Add Signature
    </button>
  </div>

  <div class="table-wrapper">
    <table class="lead-table">

      <thead>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Preview</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let s of list">

          <td>{{ s.name }}</td>

          <td>{{ s.designation }}</td>

          <td>
           <img
            [src]="s.signature"
            height="40"
            alt="signature"
          />
          </td>

          <td>
            <span
              [class.active]="s.is_active"
              [class.inactive]="!s.is_active"
            >
              {{ s.is_active ? 'Active' : 'Inactive' }}
            </span>
          </td>

          <td>
            <button class="edit-btn" (click)="openModal(s)">
              <i class="fa-solid fa-pen"></i>
            </button>
          </td>

        </tr>
      </tbody>

    </table>
  </div>
</div>



<!-- ================= MODAL ================= -->

<div class="modal-backdrop" *ngIf="showModal">

  <div class="modal">

    <h3>
      {{ form?.id ? 'Edit Signature' : 'Add Signature' }}
    </h3>


    <!-- NAME -->
    <input
      type="text"
      [(ngModel)]="form.name"
      placeholder="Enter signatory name"
    />


    <!-- DESIGNATION -->
    <input
      type="text"
      [(ngModel)]="form.designation"
      placeholder="Enter designation"
    />


    <!-- FILE UPLOAD -->
    <input
      type="file"
      accept="image/png"
      (change)="fileChange($event)"
    />


    <!-- SIGNATURE PREVIEW -->

<div class="preview" *ngIf="form.signature || previewUrl">

  <span>Preview</span>

  <!-- Existing Image -->
  <img
    *ngIf="form.signature && !isFile(form.signature)"
    [src]="form.signature"
    alt="Signature Preview"
  />

  <!-- New Uploaded Image -->
  <img
    *ngIf="isFile(form.signature)"
    [src]="previewUrl"
    alt="Signature Preview"
  />

</div>


    <!-- STATUS TOGGLE -->

    <label class="switch">

      <input
        type="checkbox"
        [(ngModel)]="form.is_active"
      />

      <span class="slider">

        <span class="toggle-text">
          {{ form.is_active ? 'Active' : 'Inactive' }}
        </span>

      </span>

    </label>



    <!-- ACTION BUTTONS -->

    <div class="actions-btn">

      <button
        class="cancel"
        (click)="showModal=false"
      >
        Cancel
      </button>

      <button
        class="save"
        (click)="save()"
      >
        {{ form?.id ? 'Update' : 'Save' }}
      </button>

    </div>

  </div>

</div>
