<div class="leads-container">

  <div class="header">
    <h2>Certificate Signatures</h2>

    <button class="add-btn" (click)="openModal()">
      <i class="fa-solid fa-plus"></i> Add Signature
    </button>
  </div>


  <div class="table-wrapper">
    <table class="lead-table">

      <thead>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Preview</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let s of list">
          <td>{{ s.name }}</td>
          <td>{{ s.designation }}</td>

          <td>
            <img [src]="'http://localhost:5055/uploads/signatures/' + s.signature"
                 height="40">
          </td>

          <td>
            <span [class.active]="s.is_active" [class.inactive]="!s.is_active">
              {{ s.is_active ? 'Active' : 'Inactive' }}
            </span>
          </td>

          <td>
            <button class="edit-btn" (click)="openModal(s)">
              <i class="fa-solid fa-pen"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>



<!-- modal -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">

    <!-- Modal Title -->
    <h3>
      {{ form?.id ? 'Edit Signature' : 'Add Signature' }}
    </h3>

    <!-- Signatory Name -->
    <input
      type="text"
      [(ngModel)]="form.name"
      placeholder="Enter signatory name"
    />

    <!-- Designation -->
    <input
      type="text"
      [(ngModel)]="form.designation"
      placeholder="Enter designation"
    />
<select [(ngModel)]="form.lab">
  <option value="" disabled>Select Lab</option>
  <option *ngFor="let lab of labs" [value]="lab.name">
    {{ lab.name }}
  </option>
</select>
    <!-- Signature Upload -->
    <input
      type="file"
      accept="image/*"
      (change)="fileChange($event)"
    />

    <!-- Signature Preview -->
    <div class="preview" *ngIf="form.signature">
      <span>Preview</span>
      <img
        [src]="'http://localhost:5055/uploads/signatures/' + form.signature"
        alt="Signature Preview"
      />
    </div>

    <!-- Status Toggle -->
    <label class="switch">
      <input type="checkbox" [(ngModel)]="form.is_active" />
      <span class="slider">
        <span class="toggle-text">
          {{ form.is_active ? 'Active' : 'Inactive' }}
        </span>
      </span>
    </label>

    <!-- Actions -->
    <div class="actions-btn">
      <button class="cancel" (click)="showModal=false">Cancel</button>
      <button class="save" (click)="save()">
        {{ form?.id ? 'Update' : 'Save' }}
      </button>
    </div>

  </div>
</div>


