<nav class="navbar">

  <!-- LEFT : Title -->
<div class="navbar-left">
  <p class="navbar-title">
    Dashboard
    <span class="divider">|</span>
    <span class="role-text">{{ role }}</span>

    <!-- SHOW LAB FOR TEAM LEAD -->
<ng-container *ngIf="role === 'team lead' && lab">
  <span class="divider">|</span>
  <span class="lab-text">{{ lab }}</span>
</ng-container>

    <!-- SHOW COORDINATOR FOR SUB ADMIN -->
    <ng-container *ngIf="role === 'sub admin'">
      <span class="divider">|</span>
      <span class="lab-text">Coordinator</span>
    </ng-container>

  </p>
</div>



  <!-- RIGHT : Actions -->
  <div class="navbar-right">

    <!-- Search -->
    <div class="search-wrapper">
      <input type="text" placeholder="Search certificates, users..." />
      <button class="search-btn">
        <i class="material-icons">search</i>
      </button>
    </div>

    <!-- Icons -->
    <ul class="header-icons">
      <!-- <li class="notif-box">
        <i class="material-icons">notifications</i>
        <span class="notification">5</span>
      </li> -->

<li class="profile-wrapper">
  <div class="profile-icon" (click)="toggleDropdown()">
    <i class="material-icons">person</i>
  </div>

  <!-- Dropdown -->
  <div class="profile-dropdown" *ngIf="showDropdown">
    <p><strong>Name: </strong> {{ name }}</p>
    <p><strong>Role:</strong> {{ role }}</p>
  </div>
</li>

    </ul>

  </div>

</nav>
