<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <P class="navbar-brand" >Dashboard</P>
    </div>

    <div class="navbar-right">
      <div class="search-wrapper">
        <input type="text" placeholder="Search...">
        <button class="search-btn"><i class="material-icons">search</i></button>
      </div>
      <ul class="header-icons">
        <!-- <li><i class="material-icons">dashboard</i></li> -->
        <li class="notif-box">
          <i class="material-icons">notifications</i>
          <span class="notification">5</span>
        </li>
        <li><i class="material-icons">person</i></li>
      </ul>
    </div>
  </div>
</nav>
