.sidebar-wrapper {
  height: 100vh;
  width: 260px;
  background-size: cover;
  background-position: center center;
  background-color: #00999971;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px 0;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}


.logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  font-size: 18px;
  color: #009999;
  text-decoration: none;
  font-weight: 400;
}

.sidebar-divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 20px;
}

.nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}

.nav-item {
  margin: 10px 15px;
  border-radius: 3px;
}

.nav-item a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all 300s;
}

.nav-item i {
  font-size: 24px;
  margin-right: 15px;
}

.nav-item p {
  margin: 0;
  font-size: 14px;
}

/* Active Class */
.nav-item.active {
  background-color: #00bcd4; /* The light blue color from your image */
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.nav-item.active a {
  color: #fff;
}

.upgrade-btn {
  padding: 20px;
  text-align: center;
}

.upgrade-btn button {
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
