<div class="sidebar-wrapper">
  <div class="logo">
      <!-- LOGO IMAGE -->
  <img src="/logo_img/tansamlogo.png" class="top-logo" />
    <p  class="simple-text">
      Intership Certificate Management System
    </p>
  </div>

  <div class="sidebar-divider"></div>

  <ul class="nav">
    <li class="nav-item active">
      <a routerLink="/dashboard">
        <p>Dashboard</p>
      </a>
    </li>
    <li class="nav-item">
      <a>
        <p>User Profile</p>
      </a>
    </li>
    <li class="nav-item">
      <a>
        <p>Table List</p>
      </a>
    </li>
    <li class="nav-item">
      <a>
        <p>Typography</p>
      </a>
    </li>
    </ul>
</div>
