/* ===== PAGE ===== */
.attendance-container {
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #009999;
}

/* ===== CARD ===== */
.card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

/* ===== TABLE ===== */
.faculty-table {
  width: 100%;
  border-collapse: collapse;
}
.faculty-table thead {
  background: #f3f6fa;
  color: #009999;
}

.faculty-table th {
  background: #f3f6fa;
  font-weight: 600;
  padding: 10px;
  text-align: left;
}

.faculty-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.name {
  font-weight: 500;
}

/* ===== BUTTON ===== */
.btn-primary {
  background: #0066ff;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.btn-primary:hover {
  background: #0050cc;
}

/* ===== BADGE ===== */
.badge {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.eligible {
  background: #d4f8e8;
  color: #0f9d58;
}

.noteligible {
  background: #fde2e2;
  color: #d32f2f;
}

/* ===== MODAL ===== */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  border-radius: 12px;
  width: 500px;
  padding: 20px;
  animation: popup .2s ease;
}

.modal.large {
  width: 900px;
}

@keyframes popup {
  from { transform: scale(.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3{
  font-size: 18px;
  color: #009999;
}
.close-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #d32f2f;
}

/* ===== CALENDAR ===== */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 15px;
}

.day {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

.day:hover {
  background: #f5f7fa;
}

.present {
  background: #0f9d58;
  color: white;
}

.holiday {
  background: #d32f2f;
  color: white;
}

/* ===== LEGEND ===== */
.legend {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-size: 13px;
}

.box {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 4px;
}

.box.present {
  background: #0f9d58;
}

.box.holiday {
  background: #d32f2f;
}

.box.normal {
  background: #ddd;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

  .modal.large {
    width: 95%;
  }

  .calendar {
    grid-template-columns: repeat(5, 1fr);
  }

}
